@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0 auto;
    padding-left: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}
body{
    background: rgb(230,214,214);
    background: linear-gradient(90deg, rgba(230,214,214,1) 0%, rgba(70,70,70,1) 23%, rgba(205,205,205,1) 37%, rgba(205,205,205,1) 64%, rgba(70,70,70,1) 75%, rgba(207,207,207,1) 100%);
}
:root{
    --font-titles:  'Ubuntu', sans-serif;
}
#menu-h ul{
    list-style-type: none;
    padding: 0;
    background-color: rgb(114, 114, 114);
    margin-bottom: 0;
}


#menu-h ul li{
    display: inline;
}

#menu-h ul li a{
    display: inline;
    color: antiquewhite;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    transition: background .5s;
}

#menu-h ul li a:hover {
    background-color: gray;

}

.carousel-inner{
    width: 100%;
    height: 500px;
    margin-top: 0;
}
#menu-h ul li:last-child a {
    float: right;
    background-color: grey;
}

.nossaHist{
    width: 30%;
    background-color: rgb(114, 114, 114);
    border: solid 10px rgb(114, 114, 114);
    margin: 10px;
    margin-top: 10%;
    margin-left: 10%;
    box-shadow: -15px 10px rgba(56, 53, 53, 0.603);   
    position: relative;
}

.pqConos{
    width: 30%;
    background-color: rgb(114, 114, 114);
    border: solid 10px rgb(114, 114, 114);
    margin-top: 200px;
    margin-left: 65%;
    box-shadow: 15px 10px rgba(56, 53, 53, 0.603);
    position: relative;
}

.musicTodos {

    width: 30%;
    background-color: rgb(114, 114, 114);
    border: solid 10px rgb(114, 114, 114);
    margin: 200px;
    margin-top: 200px;
    margin-left: 10%;
    box-shadow: -15px 10px rgba(56, 53, 53, 0.603);
    position: relative;
}

.txtEdit{
    font-family: var(--font-titles);
    text-align: justify;
    color: white;
    margin: 10px;
}

h1{
    background-color: rgb(114, 114, 114);
    color: white;
    text-align: center;
    margin: 0;
}
section div h2{
    
    text-align: center;
}


button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: rgba(245, 245, 245, 0.678);
    cursor: pointer;
}
.img1{
    position: absolute;
    width: 400px;
    height: 350px;
    margin: 0%;
    left: 185%;
    border: solid 10px white;
}
.img2{
    position: absolute;
    width: 400px;
    height: 350px;
    margin: 0%;
    right: 185%;
    border: solid 10px white;

}

.footTxt ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    position:absolute;
    margin:10px;
}
.footTxt ul > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 20px;
}

li > a > i{
    font-size: 40px;
    color:rgb(255, 253, 253);
}


footer{
    height: 200px;
    background-color:rgb(114, 114, 114);
    margin-top: 100px;
}

footer div h3{
    text-align: center;
    font-size: 40px;
    color: white;
}

